[Unit]
Description=Create + activate asdf overlay mount
ConditionVirtualization=container
ConditionEnvironment=ASDF_SYSTEM_DATA_DIR
ConditionEnvironment=DISTROBOX_USER
ConditionEnvironment=DISTROBOX_USER_HOME
ConditionPathIsDirectory=/var/lib/asdf-overlay
After=local-fs.target
Wants=first-boot-complete.target

[Service]
Type=oneshot
PassEnvironment=ASDF_SYSTEM_DATA_DIR
PassEnvironment=DISTROBOX_USER
PassEnvironment=DISTROBOX_USER_HOME
ExecStart=/usr/local/lib/asdf-overlay-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
