[Unit]
Description=Create tools overlay
ConditionVirtualization=container
ConditionEnvironment=MISE_SYSTEM_DATA_DIR
ConditionEnvironment=DISTROBOX_USER
ConditionEnvironment=DISTROBOX_USER_HOME
ConditionPathIsDirectory=/var/lib/tool-overlay
After=local-fs.target

[Service]
Type=oneshot
PassEnvironment=MISE_SYSTEM_DATA_DIR
PassEnvironment=DISTROBOX_USER
PassEnvironment=DISTROBOX_USER_HOME
ExecStart=/usr/local/lib/tool-overlay-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
